* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(0.5turn, #000, #0ff, rgb(63 85 85));
}

body {
  display: flex;
  flex-direction: column;
}

header {
  /* background-color: black; */
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.black-text {
  color: #000;
}

.white-text {
  color: white;
}

.fixed-container {
  padding-left: 80px;
  padding-right: 80px;
  width: 840px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

nav a {
  margin-right: 20px;
}

.black-link a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.light-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 15px 20px;
  margin: 10px 0;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #1c1d1d 0%, #0bd4ee 51%, #9eefe1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  transition: 0.5s;
  cursor: pointer;
}

.popup-container {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #000000ba;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  height: 200px;
  position: relative;
}

.popup h2 {
  margin-top: 0;
}

.popup input {
  display: block;
  font-size: 20px;
  width: 190px;
  margin-bottom: 10px;
}

.center-button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.footer-block {
  background-color: rgb(91 96 96);
  margin-top: 30px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;

  /* padding-left: 5px; */
}

.li-none-markers {
  list-style-type: none;
  padding-left: 30px;
}

section div {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background-image: url("../img/krest.jpg");
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
